
<!-- Button trigger modal -->
<button type="button" class="btn btn-dark m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create a new content
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4>Choose content type</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container row d-flex mt-4 justify-content-between">
                <div class="my-4 col-sm-3">
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to new_article_path, class: "nav-link current_page(login_path) ? active", aria_current: 'page' do %>
                            <div>
                                <i class="fa-solid fa-newspaper fa-2x"></i>                  
                            </div>
                            Article
                        <% end %>
                    </div>
                </div>
                <div class="my-4 col-sm-3">
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to root_path, class: "nav-link current_page(login_path) ? active", aria_current: 'page' do %>
                            <div>
                                <i class="fa-solid fa-file-audio fa-2x"></i>
                            </div>
                            Audio
                        <% end %>
                    </div>
                </div>
                <div class="my-4 col-sm-3">
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to root_path, class: "nav-link current_page(login_path) ? active", aria_current: 'page' do %>
                            <div>
                                <i class="fa-solid fa-video fa-2x"></i>
                            </div>
                            Video
                        <% end %>
                    </div>
                </div>
                <div class="my-4 col-sm-3">
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to root_path, class: "nav-link current_page(login_path) ? active", aria_current: 'page' do %>
                            <div>
                                <i class="fa-solid fa-image fa-2x"></i>
                            </div>
                            Image
                        <% end %>
                    </div>
                </div>
                <div class="my-4 col-sm-3">
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to root_path, class: "nav-link current_page(login_path) ? active", aria_current: 'page' do %>
                            <div>
                                <i class="fa-solid fa-file fa-2x"></i>
                            </div>
                            Document
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
