<div class="container mt-4">
    <%= form_for @video, class: "form video",  data: {controller: 'audio-form', action: "turbo:submit-end->audio-form#audioFormValidate" } do |f| %>
        <div class="mb-3 w-25 mx-auto title-field">
            <%= f.label :title, "Title", class: "form-label" %>
            <%= f.text_field :title, class: "form-control title-input" %>
        </div>

        <div class="mb-3 w-25 mx-auto desc-field">
            <%= f.label :description, "Description", class: "form-label" %>
            <%= f.text_field :description, class: "form-control editor-size desc-input" %>    
        </div>

        <div class="mb-3 w-25 mx-auto video-field">
            <%= f.label :videos, "Upload videos", for: "formFileMultiple", class: "form-label" %>
            <%= f.file_field :videos, multiple: true, class: "form-control video-input", id: "formFileMultiple" %>
        </div>

        <div class="mb-3 w-25 mx-auto">
            <%= f.submit "Publish video", class: "btn btn-dark mx-auto" %> 
        </div>

    <% end %>
</div>

