<!DOCTYPE html>
<html>
  <head>
    <title>ContentSharing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sedan:ital@0;1&display=swap');
    </style>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show mx-2" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>